<nav class="navbar">
  <div class="navbar-brand">
    <i class="fas fa-bus"></i>
    <span>KARNA</span>
  </div>
  <div class="navbar-menu">
    <span class="user-info">
      <i class="fas fa-user-circle"></i> <%= user.nickname %>
    </span>
    <a href="/admin/logout" class="btn-logout">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    </a>
  </div>
</nav>
