<aside class="sidebar">
  <ul class="sidebar-menu">
    <li><a href="/admin/dashboard"><i class="fas fa-chart-line"></i> Dashboard</a></li>
    <li><a href="/admin/posts"><i class="fas fa-newspaper"></i> Posts</a></li>
    <li><a href="/admin/reports"><i class="fas fa-flag"></i> Signalements</a></li>
    <!-- <li><a href="/admin/users"><i class="fas fa-users"></i> Utilisateurs</a></li> -->
  </ul>
</aside>
